* {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(251,240,207);
    color:rgb(30,94,39);
}
  
.hero .header {
    font-size: 50px;
    font-weight: bolder;
    color:rgb(30,94,39);
}

.hero-image {
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-body {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
    color: white;
}

.images:hover {
    filter: blur(2px);  
}

.eat-in-column {
    margin-left: 27%;
}




.images {
    border: 1px solid black;  
}

.bio {
    margin: 60px;
    font-size: 1.3rem;
    color:rgb(30,94,39);
}

.footer {
    color:rgb(30,94,39);
}



