* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(251,240,207);
    --secondary-color: rgb(33, 85, 33);
    --tertiary-color: #fbff00;
}

header h1 {
    font-size: xx-large;
    padding: 0px 0px 0px 20px;
}

.columns {
    display: flex;
    height: 100vh;
}

.navbar-menu, footer.footer, footer strong {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer.footer, div.navbar-menu, .div.title {
    padding: 10px;
}

footer.footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}

.navbar-item.is-expanded {
    color: var(--primary-color);
    padding: 0px 40px;
}

body {
    background-color: var(--primary-color);
}

.background-image {
    background-image: url(../images/eat\ out.jpeg);
    background-size: cover;
    
}

.title {
    padding-top: 50px;
}

div.title, div.subtitle, label {
    color: var(--tertiary-color);
    font-weight: bolder;
}

div.subtitle {
    padding-bottom: 40px;
}

div.column {
    padding-top: 0;
    padding-bottom: 20px;
}

#search-btn {
    padding: 10px 55px;
    margin: 20px;
}

#cuisine {
    padding: 10px 42px;
}