* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;   
}

:root {
    --primary-color: rgb(251,240,207);
    --secondary-color: rgb(33, 85, 33);
    --tertiary-color: #fbff00;
    --quaternary-color: rgb(155, 9, 9);
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

header h1 {
    font-size: xx-large;
    padding: 0px 0px 0px 20px;
    position: sticky;
}
    
.content {
    background-color: rgb(251,240,207);
}

.navbar-menu, footer.footer, footer strong {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer.footer, div.navbar-menu, .div.title {
    padding: 10px;
}

footer.footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    color: var(--secondary-color);
}

.navbar-item.is-expanded {
    color: var(--primary-color);
    padding: 0px 40px;
}

.navbar-menu {
    
    background-image: linear-gradient(45deg, var(--quaternary-color) 0%, orange 52%, var(--quaternary-color) 90%);
    color: var(--primary-color);
}

.background-image {
    background-image: url(eat_in.jpg);
    background-size: cover;
}

.info {
    padding-top: 20px;
    background-color: var(--primary-color);
    margin-top: 50px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: black;
}

input {
    font-size: 17px;
    margin-top: 50px;;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px;
}

.column {
    margin-top: px;
    margin-bottom: 30px;
    border-radius: 15px;
}

div.subtitle {
    padding-bottom: 40px;
}

#search-btn {
    border-radius: 15px;
    padding: 20px 55px;
    margin: px;
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;    
}

#search-btn:hover {
    filter: blur(1px);  
    border-radius: 15px;
}